.AboutWrap{
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 1.3fr;
  grid-template-rows   : 1.3fr 2fr;
  grid-template-areas  :
  "iconImg profileWrap IconItem"
  "text text IconItem";
    .myIcon{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: #555;
      grid-area: iconImg;
      margin: auto;
    }
    .ProfileWrap{
      grid-area: profileWrap;
    }
    #Name{
      font-size: 4rem;
      font-family: "Noto Serif JP", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    .AboutTextWrap{
      grid-area: text;
      margin-top: 5%;
      margin-left: 3%;
    }
    .IconsWrap{
      grid-area: IconItem;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      .IconItem{
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        vertical-align: middle;
      }
    }
  }
