.revers{
  display: flex;
  flex-direction: column-reverse;
}
.gridBox{
  display: grid;
  grid-template-columns:26% 74%;
  grid-template-rows: 30vh 43vh;
  grid-template-areas:
  "textBox workBox"
  "workTitle workBox";
  height: 580px;
  margin-bottom: 70px;
  &:first-child{
    margin-bottom: 0px;
  }
  .textBox{
    grid-area: textBox;
  }
  .workTitle{
    grid-area: workTitle;
    margin-top: 60px;
    #title{
      font-size: 3.6rem;
    }
    .bd{
      font-family: "Noto Serif JP", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      margin: 2px;
      text-decoration: underline #333;
    }
  }
  .workBox{
    grid-area: workBox;
    margin: 20px 0;
    border-left: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    .workImg1{
      height: 80%;
      box-shadow: 0px 10px 10px 5px #eee;
      border-radius: 5px;
    }
    .workImg2{
      height: 90%;
      box-shadow: 0px 10px 10px 5px #b4b4b4;
    }
    .workImg3{
      height: 90%;
      padding: 10px;
    }
  }
}


@media screen and (max-width: 768px) {
  .revers{
    display: flex;
    flex-direction: column-reverse;
  }
  .gridBox{
    display: block;
    height: auto;
    margin-bottom: 100px;
    &:first-child{
      margin-bottom: 0px;
    }
    .workTitle{
      margin-top: 0px;
      #title{
        font-size: 3.6rem;
      }
      .bd{
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
        margin: 2px;
        text-decoration: underline #333;
      }
    }
    .workBox{
      border-left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      .workImg1{
        height: 0%;
        box-shadow: 0px 10px 10px 5px #eee;
        border-radius: 5px;
      }
      .workImg2{
        height: 70%;
        box-shadow: 0px 10px 10px 5px #b4b4b4;
      }
      .workImg3{
        height: 90%;
        padding: 10px;
      }
    }
  }
}