* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

html,body{
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}
header{
  width: 90%;
  height: 50px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  a{
    text-decoration: none;
    h1{
      font-size: 3.4rem;
      color: #333;
    }
  }
  .linkBox{
    width: 280px;
    height: 50px;
    display: flex;
    text-align: right;
    .link{
      color: #333;
      width: 280px;
      height: 100%;
      text-align: center;
      font-size: 3rem;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      &:hover{
        transition: 0.1s ease-in-out;
        transform: scale(1.1);
        color: #7d7d7d;
      }
    }
  }
  .menuBox{
    width: 40%;
    height: 40px;
    display: none;
    #menuBtn{
      display: none;
    }
  }
}

main{
  border:solid 1px #333;
  width: 92%;
  height: 84vh;
  margin: auto;
}

.box{
  padding: 26px;
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.2rem;
    padding: 0 0 10px;
  }
  p{
    font-size: 2rem;
  }
}


@keyframes shadow{
  0%{
    box-shadow: 0px 0px 0px 0px #e5e5e5;
  }
  50%{
    box-shadow: 0px 0px 10px  10px #e5e5e5;
  }
  100%{
    box-shadow: 0px 0px 10px 18px #ffffff00;
  }
}

@keyframes expansion{
  0%{
    transform: scale(1);
    box-shadow: 0px 0px 100px 50px #dedede inset;
  }
  100%{
    transform: scale(1.1);
    background: #fff;
    box-shadow: 0px 0px 0px 0px #dedede inset;
    opacity: 0;
    z-index: -2;
  }
}

@keyframes expansion2{
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}


@media screen and (max-width: 768px) {
  header{
    width: 90%;
    height: 50px;
    margin: 20px auto 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    h1{
      font-size: 2rem;
      color: #333;
    }
    .linkBox{
      width: 30px;
      height: 50px;
      display: none;
      text-align: right;
      .link{
        color: #333;
        width: 280px;
        height: 100%;
        text-align: center;
        font-size: 3rem;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        &:hover{
          transition: 0.1s ease-in-out;
          transform: scale(1.1);
          color: #7d7d7d;
        }
      }
    }
      .menuBox{
      width: 30px;
      height: 40px;
      display: block;
      overflow:visible;
      #menuBtn{
        display: none;
        overflow:visible;
      }
      .menuIcon {
        margin: 10px;
        .navicon {
          overflow:visible;
          display: block;
          width: 26px;
          height: 3px;
          background: #555;
          position: relative;
          transition: 0.3s ease;
          right: 0;
          &::before,
          &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 3px;
            background: #555;
            position: absolute;
            transition: 0.3s ease;
          }
          &::before {
            top: -9px;
          }
          &::after {
            top: 9px;
          }
        }
      }
      .menuBtn:checked ~ .menuIcon .navicon::before,
      .menuBtn:checked ~ .menuIcon .navicon::after {
        top: 0;
      }
      .menuBtn:checked ~ .menuIcon .navicon{
        background: #fff;
      }
      .menuBtn:checked ~ .menuIcon .navicon::before{
        transform: rotate(45deg);
      }
      .menuBtn:checked ~ .menuIcon .navicon::after{
        transform: rotate(-45deg);
      }
      .menu {
        list-style: none;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        margin-top: 52px;
        padding: 0 0 10px 0;
        clear: both;
        background: var(--background-navbar);
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        transform: scale(1, 0);
        transform-origin: top;
      }
      .menuBtn:checked ~ .menu {
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        transform: scale(1, 1);
        transform-origin: top;
        position: fixed;
        left: 0;
        top: 15px;
        padding-right: 100px;
        height: 100vh;
        z-index: 500;
        background: #fff;
        border-top:solid 1px #000;
        .link{
          color: #333;
          text-align: center;
          font-size: 3rem;
          padding: 10px;
          display: flex;
          flex-flow: row;
        }
      }
    }
  }
}