.ggfnt {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
}

.ggfntjp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#ggfnt {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
}

#ggfntjp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
